input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    text-align: center;
    padding: 12px;
  }
  
  .btncrea {
    margin-left: 12px;
    background-color: #aa8c04;
    color: rgb(244, 244, 244);
    padding: 18px 25px;
    border-color: rgb(88, 89, 87);
    border-radius: 4px;
    cursor: pointer;
}
  
.btncrea:hover {
    background-color: #dad712;
    color: rgb(0, 0, 0);
  }
  .btncrea:active {
    background-color: #d9d619;
  }
  
  .formCont{
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 3%;
    box-shadow: 0 0 15px 1px rgba(171, 162, 171, 0.4);
  }
  form{
    padding: 0px 50px 0px 0px;
  }